{% include 'AllNetwork/Home/View/Header.twig' %}
<style>
    .hidden.menu {
        display: none;
    }

    .masthead.segment {
        min-height: 700px;
        padding: 1em 0em;
    }
    .masthead .logo.item img {
        margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
    }
    .masthead h1.ui.header {
        margin-top: 3em;
        margin-bottom: 0em;
        font-size: 3.5em;
        font-weight: normal;
    }
    .masthead h2 {
        font-size: 1.3em;
        font-weight: normal;
        margin-bottom: 2em;
    }

    .ui.vertical.stripe {
        padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
        font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
        margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
        clear: both;
    }
    .ui.vertical.stripe p {
        font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }

    .quote.stripe.segment {
        padding: 0em;
    }
    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .footer.segment {
        padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
        display: none;
    }

    @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
            display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
            display: none;
        }
        .secondary.pointing.menu .toc.item {
            display: block;
        }
        .masthead.segment {
            min-height: 350px;
        }
        .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
        }
        .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
        }
    }
    #wallpaper{
        background: rgba(0,0,0, .65);
    }
    #wallpaper:before{
        content: " ";
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: url('/img/dj.jpg') no-repeat center center fixed;
        background-size: cover;
        z-index: -1
    }
    /*.ui.menu.fixed.headermenu, .ui.menu.fixed .item:first-child, .ui.menu.fixed .item {
        border: 0 !important;
    }*/
    .ui.menu.headermenu .item:before {
        width: 0;
    }
</style>
<link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css">
<script type="text/javascript" src="/bower_components/slick-carousel/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#rj-slideshow').slick({
            autoplay: true
        });
    });
</script>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment" id="wallpaper">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu" style="border:0;">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a href="/" class="{% if page == 'home' %} active {% endif %} item">Beranda</a>
                <a href="/hashtag/services" class="{% if page == 'services' %} active {% endif %} item">Layanan</a>
                <a href="/hashtag/events" class="{% if page == 'events' %} active {% endif %} item">Kegiatan</a>
                <a href="/hashtag/community" class="{% if page == 'community' %} active {% endif %} item">Komunitas</a>
                <a href="/hashtag/about" class="{% if page == 'about' %} active {% endif %} item">Tentang Kami</a>
                <div class="right item">
                    <a class="ui inverted button">Masuk</a>
                    <a class="ui inverted button">Daftar</a>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                AllNetwork IRC Network
            </h1>
            <h2>Bukan sekedar IRC Network, kami adalah komunitas yang solid sejak 1999</h2>
            <div class="ui huge orange button" onClick="toggleChat(event);">Gabung sekarang <i class="right arrow icon"></i></div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            {% for page in records %}
                <div class="home-content">{{ page.Content | raw }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="ui orange inverted vertical stripe quote segment">
        <div class="ui equal width stackable internally grid">
            <div class="center aligned row">
                <div class="column" style="border-right: 1px solid rgba(255,255,255,.65)">
                    <h3 style="font-size:4em;">
                        <i class="ui dollar icon"></i>00.00
                    </h3>
                    <p>
                        Semua layanan AllNetwork GRATIS
                    </p>
                    <p>
                        <a class="ui white inverted large button" href="/page/donator">Selengkapnya</a>
                    </p>
                </div>
                <div class="column">
                    <h3 style="font-size:4em;">
                        <i class="ui windows icon"></i>
                        <i class="ui apple icon"></i>
                        <i class="ui linux icon"></i>
                        <i class="ui android icon"></i>
                    </h3>
                    <p>
                        Terhubung ke AllNetwork disemua platform
                    </p>
                    <p>
                        <a class="ui white inverted large button" href="/page/download-irc-client">Unduh</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <img class="ui image" src="img/radio-logo-wide.jpg"/>
                    <p>
                        <strong>Radio AllNetwork</strong> merupakan salah satu layanan AllNetwork yang memberikan hiburan dengan program-program radio yang tentunya asyik untuk didengarkan.
                    </p>
                    <p>Keep streaming and stay have fun…!</p>
                </div>
                <div class="eight wide column" style="padding-top:50px;">
                    <div id="rj-slideshow">
                        {% for i in 1..12 %}
                            <div>
                                <img src="img/rj/{{ i }}.jpg" class="ui large rounded right floated image"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'AllNetwork/Home/View/Footer.twig' %}
